custom-sidenav .flex-container custom-sidenav md-sidenav {
  order: 0;
  height: 100%;
  flex: 0;
}
custom-sidenav .flex-container .supply-content {
  order: 1;
  height: 100%;
  flex: 1;
}
custom-sidenav md-sidenav {
  transition: all 0.5s;
  overflow-y: hidden !important;
}
custom-sidenav md-sidenav {
  width: 56px !important;
}
custom-sidenav md-sidenav p {
  display: none !important;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  overflow: hidden;
}
custom-sidenav .sidenav-opened {
  width: 250px !important;
}
custom-sidenav .sidenav-opened p {
  display: block !important;
}
custom-sidenav .sidenav-opened #menu-wrapper .has-submenu .arrow-menu {
  display: block;
}
custom-sidenav .sidenav-opened #supplychain-title-menu span {
  display: block;
}
custom-sidenav #supplychain-title-menu {
  cursor: pointer;
  font-size: 15px;
  color: #65acff;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  overflow: hidden;
  outline: none;
  height: 21px;
  padding: 10px 0 0 0;
  margin-bottom: 10px;
}
custom-sidenav #supplychain-title-menu span {
  float: left;
  margin-left: 15px;
  display: none;
  text-overflow: ellipsis !important;
}
custom-sidenav #supplychain-title-menu img {
  float: right;
  margin-top: -3px;
  margin-right: 16px;
  display: block !important;
}
custom-sidenav md-list-item._md-button-wrap > div.md-button:first-child {
  padding: 0 16px 0 12px !important;
}
custom-sidenav #menu-wrapper {
  overflow-x: hidden;
  background-color: #282b42 !important;
  color: #fff;
  /* MAIN MENU */
}
custom-sidenav #menu-wrapper md-toolbar {
  background-color: #35384d;
}
custom-sidenav #menu-wrapper md-list-item {
  width: 100%;
}
custom-sidenav #menu-wrapper md-list-item p {
  margin-left: -20px;
  font-family: 'robotolight' !important;
}
custom-sidenav #menu-wrapper md-list-item md-icon {
  margin-top: 10px;
  width: 30px;
  height: 30px;
  margin-right: 35px !important;
  margin-left: 4px !important;
}
custom-sidenav #menu-wrapper md-list-item md-icon i {
  font-size: 30px;
  color: #ffffff;
}
custom-sidenav #menu-wrapper #menu-title {
  margin-left: -25px;
}
custom-sidenav #menu-wrapper #main-menu {
  font-size: 14px !important;
  padding-bottom: 50px;
  padding-top: 0;
  height: calc(100% - 42px);
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  justify-content: initial;
}
custom-sidenav #menu-wrapper #main-menu .menu-selected-hover:before {
  content: '';
  display: block;
  left: 0;
  top: 0;
  position: absolute;
  background: #65acff;
  width: 4px;
  height: 100%;
}
custom-sidenav #menu-wrapper #main-menu .menu-selected-hover:hover:before, custom-sidenav #menu-wrapper #main-menu .menu-selected:before, custom-sidenav #menu-wrapper #main-menu .has-submenu-selected:before {
  visibility: visible;
  transform: rotate 90deg;
}
custom-sidenav #menu-wrapper #main-menu .submenu {
  padding: 0;
}
custom-sidenav #menu-wrapper #main-menu .submenu-level1 md-list-item {
  padding-left: 0 !important;
  background-color: #464d6c;
  border-left: 4px solid #65acff;
}
custom-sidenav #menu-wrapper #main-menu .submenu-level1 md-list-item p {
  padding-left: 20px;
}
custom-sidenav #menu-wrapper #main-menu .submenu-level1 md-list-item:last-child {
  margin-bottom: 0;
}
custom-sidenav #menu-wrapper #main-menu .submenu-level1 md-list-item:hover {
  border-left: 4px solid #83ffbb;
}
custom-sidenav #menu-wrapper #main-menu .submenu-level1 md-list-item:hover p {
  color: #83ffbb;
  font-weight: bold;
}
custom-sidenav #menu-wrapper #main-menu .submenu-level2 md-list-item {
  padding-left: 0 !important;
  background-color: #11142c;
  border-left: 4px solid #83ffbb;
}
custom-sidenav #menu-wrapper #main-menu .submenu-level2 md-icon {
  float: left;
  margin: 0;
  padding: 0;
}
custom-sidenav #menu-wrapper #main-menu .submenu-level2 md-icon i {
  color: #83ffbb !important;
  font-size: 14px !important;
}
custom-sidenav #menu-wrapper .arrow-menu {
  outline: none;
  display: none;
  position: absolute;
  right: 25px;
  top: 9px;
}
custom-sidenav #menu-wrapper .has-submenu.menu-expanded .arrow-menu {
  transform: rotate(90deg);
}
custom-sidenav .submenu-item-level1 {
  border-left: 5px solid #65acff !important;
}
custom-sidenav .submenu-item-level1 p {
  color: #65acff;
  font-weight: bold;
}
custom-sidenav .submenu-item-level1 md-icon i {
  color: #65acff !important;
}
custom-sidenav .submenu-item-level2 {
  background-color: #30334a !important;
  border-left: 5px solid #83ffbb !important;
}
custom-sidenav .submenu-item-level2 p {
  color: #83ffbb;
  font-weight: bold;
}
custom-sidenav .menu-border-blue {
  border-left: 5px solid #65acff;
}
custom-sidenav #menu-wrapper ::-webkit-scrollbar {
  display: none;
}